.waterfall
{
    display: none;
    font-size: 100px;
    font-family: courier;
    color: white;
    width: 100%;
    height: 600px;

    background: url(https://31.media.tumblr.com/e8878318c0d8c91712304a340a92d1d8/tumblr_mqf5he4KhX1rnqolfo1_400.gif) 0/100% 100% no-repeat;
}

/* This hides the news feed before the JS kicks in */
#pagelet_home_stream, div[id^='topnews_main_stream'], #pagelet_trending_tags_and_topics
{
    display: none !important;
}

div.ticker_stream
{
    display: none !important;
}

.ticker {
    display: none;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}